<%= form_with(model: mood) do |form| %>
  <% if mood.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mood.errors.count, "error") %> prohibited this mood from being saved:</h2>

      <ul>
        <% mood.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tag, style: "display: block" %>
    <%= form.text_field :tag %>
  </div>

  <div>
    <%= form.label :emotion, style: "display: block" %>
    <%= form.text_field :emotion %>
  </div>

  <div>
    <%= form.label :intensity, style: "display: block" %>
    <%= form.text_field :intensity %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.textarea :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
