<div id="<%= dom_id mood %>" class="singular-mood">
  <div>
    <strong>Emotion:</strong>
    <%= mood.emotion %>
  </div>

  <div>
    <strong>Intensity:</strong>
    <%= mood.intensity %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= mood.notes %>
  </div>

  <div class="center">
    <%= link_to "Show this mood", mood, class: "block" %>
  </div>

</div>
