<div class="alert_container">
  <% if alert = flash[:alert] %>
    <p class="alert_message" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="notice_message" id="notice"><%= notice %></p>
  <% end %>
</div>

  <h1 class="Sign-up-title">Sign up</h1>

  <%= form_with model: @user, url: registration_url, class: "contents" do |form| %>
    <div class="email-address-container">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "email-address" %>
    </div>

    <div class="password-container">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "password" %>
    </div>

    <div class="password-confirmation-container">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Confirm your password", maxlength: 72, class: "password-confirmation" %>
    </div>

    <div class="submit-container">
    <%= form.submit "Sign up", class: "sign-up" %>

      <div class="forgot-password-container">
        <%= link_to "Forgot password?", new_password_path, class: "forgot-password" %>
      </div>
    </div>
  <% end %>
</div>