<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mood Logger" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mood Logger">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= favicon_link_tag 'logo mood_logger.png' %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <!--
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    -->

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="homepage-navigation">
      <%= link_to image_tag("logo mood_logger.png", :alt => "Logotype for the mood_logger website", class: "logotype"), root_path, class: "logo" %>
      <div class="main-links">
          <div class="homepage link">
            <%= link_to "Home", root_path %>
          </div>
          <div class="moods link">
            <%= link_to "Moods", moods_path %>
          </div>
          <div class="objectives link">
            <%= link_to "Objectives", objectives_path %>
          </div>
          <div class="about link">
            <%= link_to "About", controller: "home", action: "about" %>
          </div>
          <div class="contact link">
            <%= link_to "Contact", controller: "home", action: "contact" %>
          </div>
      </div>
      <div class="buttons">
          <button class="sign-up">Sign up</button>
          <button class="log-in">Log in</button>
      </div>
  </nav>
    <%= yield %>
  </body>
</html>
